[submodule "manual/powerline-2.4"]
	path = manual/powerline-2.4
	url = https://github.com/VictorCMiraldo/powerline
[submodule "manual/column-enforce-mode"]
	path = manual/column-enforce-mode
	url = https://github.com/jordonbiondo/column-enforce-mode
[submodule "manual/persistent-soft"]
	path = manual/persistent-soft
	url = https://github.com/rolandwalker/persistent-soft
